[submodule "common"]
	path = common
	url = https://github.com/fteamkr/git-submodule-common.git
	branch = dev
[submodule "buildSrc"]
	path = buildSrc
	url = https://github.com/fteamkr/git-submodule-build-logic.git
	branch = dev
